/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/docker-compose.override.yml
user.ini
phpunit.result.cache
.phpunit.result.cache
.phpunit.cache
/.vite-inspect

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
Desktop.ini
